<section>
  <div class="three-images-wrapper">
    {%- if section.settings.image1 != blank -%}
      <div class="one-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="one">
        <h1></h1>
      </div>
    {%- endif -%}
    {%- if section.settings.image2 != blank -%}
      <div class="two-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="two">
        <h1></h1>
      </div>
    {%- endif -%}
    {%- if section.settings.image3 != blank -%}
      <div class="three-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="three">
        <h1></h1>
      </div>
    {%- endif -%}
  </div>
</section>

<style>
  .three-images-wrapper {
    display: flex;
    margin-top: 56px;
  }

  .one, .one-user, .two, .two-user, .three, .three-user {
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }

  .one {
    background-image: url("{{ 'one.png' | asset_url }}");
  }

  .two {
    background-image: url("{{ 'two.png' | asset_url }}");
  }

  .three {
    background-image: url("{{ 'three.png' | asset_url }}");
  }

  .one-user {
    background-image: url("{{ section.settings.image1 | image_url }}");
  }

  .two-user {
    background-image: url("{{ section.settings.image2 | image_url }}");
  }

  .three-user {
    background-image: url("{{ section.settings.image3 | image_url }}");
  }
</style>

{% schema %}
{
  "name": "Image Picker Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Pick Image 1",
      "info": "PNG Recommended"
    }, {
      "type": "image_picker",
      "id": "image2",
      "label": "Pick Image 2",
      "info": "PNG Recommended"
    }, {
      "type": "image_picker",
      "id": "image3",
      "label": "Pick Image 3",
      "info": "PNG Recommended"
    }
  ],
  "presets": [
    {
      "name": "Image Picker Section"
    }
  ]
}
{% endschema %}
